
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: lightblue;
}
.container{
    display: flex;
    flex-direction: row;
    margin: 40px;
    justify-content: center;
    background-color:antiquewhite;
}

.left-side{
    background-color: #003147;
    height: 200px;
    width: 30%;
    min-height: 1000px;
}

.right-side{
    background-color: #fff;
    height:200px;
    width: 70%;
    min-height: 1000px;
}

img{
    width: 50%;
    border-radius: 100px;
    padding: auto;
    margin: auto;
    
}

.imgBox{
    text-align: center;
    position: relative;
    padding: 50px;
    
}